// Wallet Credentials
MNEMONIC=
PRIVATE_KEY=

// Alchemy RPCs
ALCHEMY_KEY_ETHEREUM=
ALCHEMY_KEY_GOERLI=
ALCHEMY_KEY_MATIC=
ALCHEMY_KEY_POLYGON_MAINNET=

// Explorer Keys
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
POLYGONSCAN_API_KEY=

// By default. Change to false to disable the REPORT GAS
REPORT_GAS=false
COINMARKETCAP_API_KEY=d346c928-0191-4c38-819c-a64f4a852199